@import url(set.css);
@import url(media.css);
/*
#2f4069
#3356b3
#296ec6
#e4eefb
*/
html{
  position:relative;
  margin:0 auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #e4eefb;
  z-index: 999;
  width:100vw;
}
body{
  min-height:100%;
}
footer{
  position:absolute;
  bottom: 0;
  left: 0;
  width:100vw;
  height: 360px;
  box-sizing: border-box;
}

.header-wrap {
  max-width:1200px;
  width:100vw;
  height:200px;
}
.header-upper{
  max-width:1200px;
  width:100vw;
  height:120px;
  color:#296ec6;
  text-align:center;
  vertical-align:middle;
}
.header-upper img{
  height:90%;
  margin-top:20px;
}
nav{
  max-height:80px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding:0 1%;
}
nav > ul {
  display: flex;
  background: #e4eefb;
  height:78px;
}
nav > ul > li {
  position: relative;
  width: 20%;
}
nav > ul > li:hover .depth {
  display: block;
  border-top:5px solid #1acf99;
}
nav > ul > li > a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 78px;
  display: block;
  color: #2f4069;
  text-align: center;
  font-weight:600;
}
nav .depth {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background: #000;
  display: none;
  transform:translateY(-5px);
}
nav .depth > li {
  background: #2f4069;
}
nav .depth a {
  text-decoration: none;
  font-size: 1rem;
  padding: 15px 10px;
  display: block;
  color: #e4eefb;
  text-align: center;
}
nav .nav-dummy{
  width:10%;
}
nav .nav-button{
  display:flex;
  align-items: center;
  justify-content: flex-end


}
nav button{
  border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  margin:20px;
  height:40px;
  width:100px;
  color: #e4eefb;
  border-radius: 10%;
  background-color: #296ec6;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}
nav button a{
  color:#e4eefb;
}
/*footer*/
.footer{
  overflow:hidden;
  max-height:400px;
}
.footer-menu {
  width: 100vw;
  height: 40px;
  
  background-color: #3356b3;
  text-align:left;
}
.footer-list {
  max-width: 1200px;
  width: 100vw;
  display:flex;
  align-items: center;
  padding:0 20px;
  height:40px;
  line-height:40px;
}
.footer-list span{
  height:2vh;
  width:0.02vw;
  background-color:#cdcdcd;
}
.footer-list li {
  float: left;
  padding: 0 14px;
  position: relative;
}
.footer-list .dummy{
  width:33vw;
}
.footer-list li a {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
  line-height: 4vh;
}


.footer .footer-wrap{
  height:100%;
  width:100%;
  background-color:#e4eefb;
}
.footer .inner {
  max-width: 1200px;
  height:320px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.footer .inner .foot-l {
  float: left;
  width:80%;
}
.footer .inner .foot-l .logo {
  padding-top: 4px;
  width: 6vw;
  margin:0;
  }
.footer .inner .foot-l .logo a img{
  display: block;
  height: 30px;
}
.footer .inner .foot-l .footer-sub-info {
  margin-top: 20px;
  font-size: 1rem;
}
.footer .inner .foot-l .footer-sub-info span:last-child {
  margin-right: 0;
}
.footer .inner .foot-l .address {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #2f4069;
  font-weight: 300;
}
.footer .inner .foot-l .address span {
  display: inline-block;
  vertical-align: top;
  text-align:left;
}
.footer .inner .foot-l .address span.db {
  display: block;
}
.footer .inner .foot-l .address ul:after {
  content: '';
  display: block;
  clear: both;
}
.footer .inner .foot-l .address ul li {
  float: left;
  font-weight: 300;
}
.footer .inner .foot-l .address ul li:after {
  content: "";
  display: inline-block;
  clear: both;
  width: 0.3px;
  height: 12px;
  background-color: #666;
  margin: 0 12px;
}
.footer .inner .foot-l .address ul li:last-child::after {
  display: none;
}
.footer .inner .foot-l .footer-sub-info {
  margin-top: 20px;
}
.footer .inner .foot-l .footer-sub-info p {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 200;
  color: #2f4069;
  text-align:left;
}
.footer .inner .foot-l .footer-sub-info p strong {
  display: inline-block;
  font-size: 2.5rem;
  color: #2f4069;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 10px;
}
.footer .inner .foot-r {
  float:right;
  width:20%;
  max-height:300px;
  height:100%;
  display:flex;
  flex-direction: column;
}
.footer .innter .foot-r  div{
  margin-right:0px;
}
.foot-r-u{
  height:60%;
  display:flex;
  padding-top:10px;
}
.footer .inner .foot-r dl {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  
  width:50%;
}
.footer .inner .foot-r dl:first-child {
  margin-right: 0;
}
.footer .inner .foot-r dl dt {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  line-height: 18px;
  margin-bottom: 14px;
  text-align:center;
}
.footer .inner .foot-r dl dd {
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  line-height: 28px;
  text-align:center;
}
.foot-r-m{
  height:20%;
}
.footer .inner .app-store {
  padding-top: 1rem;
  height:100%;
}
.footer .inner .app-store li {
  float: right;
  border:1px solid #2f4069;
  border-radius:4px;
  background:#2f4069;
  color:#fff;
  font-size:0.7rem;
  width:10vw;
}
.footer .inner .app-store li a {
  display: block;
  padding: 0.3rem;
  text-align: center;
}
.footer .inner .app-store li a i{
  padding-right:0.5rem;
}
.foot-r-d{
  height:20%;
}
.footer .inner .foot-r .sns {
  font-size: 1.5rem;
  width: 100%;
  overflow: hidden;
  clear: both;
  padding: 1rem 0.5rem 0 1.5rem;
  
}
.footer .inner .foot-r .sns li {
  float: right;
  width:25%;
}
.footer .inner .foot-r .sns a {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding:0 5px;
  height: 4vh;
}
.footer .inner .foot-r .sns i{
  color:#2f4069;
  width:1.5vw;
  margin:0 5px;
}
/*index main영역*/

.section{
  width:100%;
  height:400px;
}
.section-wrap{
  max-width:1200px;
  width:100vw;
  height:400px;
  padding:0 20px;
}
.section-wrap-main-1{
  display:flex;
  justify-content: space-between;
}
.main-section1{
  background:#e4eefb;
}
.main-section1 .main-section1-l{
  margin-left:8%;
  margin-top:20px;
  text-align: left;
}
.main-section1 .main-section1-l p{
  font-size:1.5rem;
  font-weight:600;
  margin:10px 0;
  color: #2f4069;
  text-align: left;
}
.main-section1 .main-section1-l p strong{
  color:#1acf99;
}
.main-section1 .main-section1-l .main-section1-l-img{
  margin-top:20%;
  height:10%; 
}
.main-section1 .main-section1-r .main-section1-r-img{
  height:450px;
  transform:translateY(-80px);
}
.main-section2{
  background:#4f6480;
  flex-direction:row;
  color:#fff;
}
.main-section2 .main-section2-title{
  font-size:1.5rem;
  font-weight:600;
  width:100%;
  text-align:center;
  height:6%;
  padding:20px 0;
}
.main-section2 .main-section2-content{
  width:100%;
  height:200px;
  display:flex;
}
.main-section2 .main-section2-content-wrap{
  height:200px;
  width:33%;
  margin:20px;
}
.main-section2 .main-section2-content-circle{
  width:13vw;
  height:130px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:6rem;
  text-align:center;
  overflow:hidden;
}
.main-section2-content-txt{
  padding:20px;
  height:70px;
  width:100%;
  text-align:center;
  font-weight:500;
}
.main-section3{
  background:#e4eefb;
  flex-direction:row;
  color:#2f4069;
  text-align:center;
}
.main-section3-title{
  font-size:1.5rem;
  font-weight:600;
  padding:20px;
}
.main-section3-subtitle{
  font-size:18px;
  font-weight:400;
  padding:10px;
}
.main-section3-content{
  display:flex;
  padding: 30px 1vw;
}
.main-section3-content-l{
  width:20%;
  height:200px;
  border:1px solid #000;
  border-radius:10%;
}
.main-section3-content-m{
  width:20%;
  height:200px;
  border:1px solid #000;
  border-radius:10%;
}
.main-section3-content-r{
  width:50%;
  height:200px;
}
.main-section3-content-r-line{
  width:100%;
  height:2px;
  background:#fff;
}
.main-section3-content-r-u{
  display:flex;
  align-items: center;
  justify-content: center;
  height:50%;
}
.main-section3-content-r-d{
  display:flex;
  align-items: center;
  justify-content: center;
  height:50%;
}
.main-section3-content-r-icon{
  border:1px solid #000;
  border-radius:50%;
  width:80px;
  height:80px;
  
}
.main-section3-content-r-txt{
  border:1px solid #000;
  width:80%;
  height:50px;
  margin-left:1.5vw;
}
.main-section4{
  background:#4f6480;
  color:#fff;
}
.main-section4-title{
  font-size:1.5rem;
  font-weight:600;
  padding:1.3rem;
  height:5rem;
}
.main-section4-content{
  width:80%;
  height:60px;
  background:#fff;
  color:#2f4069;
  border:1px solid #000;
  margin-bottom:20px;
}
/*소개페이지*/
.page-introduce-u{
  width:100%;
  height:240px;
}
.page-introduce-u img{
  height:100%;
  width:100%;
  display:block;
}

.page-introduce-m{
  max-width:960px;
  height:650px;
  border:1px solid #fff;
  transform:translateY(-50px);
  background:#e4eefb; 
  color:#2f4069;
}
.page-introduce-m img{
  width:50%;
}
.page-introduce-m-title{
  margin-top:3.5rem;
  margin-bottom:0.6rem;
  height:40px;
  font-size:1.5rem;
}
.page-introduce-m-subtitle{
  height:100px;
  font-size:1.2rem;
}
.page-introduce-m-subtitle p{
  height:40px;
  margin:20px 0;
}
.page-introduce-m-menu{
  display:flex;
  margin:2.5rem 0;
}
.page-introduce-m-menu-i{
  width:45%;
  height:140px;
  display:flex;
}
.page-introduce-m-menu-i-l{
  width:20%;
  height:80px;
  border:1px solid #000;
  border-radius:50%;
}
.page-introduce-m-menu-i-r{
  width:75%;
}

.page-introduce-m-menu-i-r-title{
  width:60%;
  height:40px;
  border:1px solid #000;
  margin:0 0 0 10px;
}
.page-introduce-m-menu-i-r-line{
  width:90%;
  height:0.5px;
  background:#000;
  margin:0;
  margin-top:10px;
  margin-bottom:10px;
}
.page-introduce-m-menu-i-r-content{
  width:90%;
  height:80px;
  border:1px solid #000;
  margin:0;
}
.page-introduce-d{
  max-width:960px;
  height:720px;
  background:#4f6480;
  color:#2f4069;
}
.page-introduce-d-title{
  width:24vw;
  height:160px;
  padding-top:40px;
  padding-bottom:40px;
  color:#fff;
  font-size:24px;
}
.page-introduce-d-content{
  display:flex;
}
.page-introduce-d-content-l{
  width:60%;
  height:560px;
  
}
.page-introduce-d-content-l-wrap{
  width:100%;
  height:160px;
  border:1px solid #e4eefb;
  margin-top:1rem;
  display:flex;
}
.page-introduce-d-content-l-wrap-icon{
  height:40%;
  width:10%;
  margin:1rem;
  background:#fff;
}
.page-introduce-d-content-l-wrap-content{
  width:80%;
}
.page-introduce-d-content-l-wrap-content > div{
  margin:1rem 0;
}
.page-introduce-d-content-l-wrap-content-title{
  height:30%;
  width:50%;
  background:#fff;
}
.page-introduce-d-content-l-wrap-content-content{
  height:45%;
  width:90%;
  background:#fff;
}
.page-introduce-d-content-r{
  width:35%;
  height:560px;
  
  display:flex;
  align-items:center;
}
.page-introduce-d-content-r img{
  width:100%;
  padding-right:1rem;
}
.asdf{
  height:200px;
  background:#fff;
}
.notice{
  display:flex;
  width:100%;
  min-height:1200px;
  overflow:hidden;
}
.notice-l{
  width:25%;
  height:100%;
  background:#e4eefb;
}
.notice-l li{
  text-align:left;
}
.notice-l > ul > li{
  width:100%;
  height:60px;
  
  display:block;
  line-height:60px;
  padding-left:10px;
}
.notice-l > ul > li a{
  text-align:start;
}
.notice-l > ul > li > ul > li{
  padding-left:30px;
  list-style:inside;
}
.notice-r{
  width:65%;
  height:1600px;
}
.notice-r-img img{
  width:100%;
  height:240px;
}
.notice-r-bbs{
  text-align:left;
}
.notice-r-bbs-title{
  margin:40px 0 20px 40px;
  height:60px;
  width:160px;
  line-height:60px;
  background:#cdcdcd;
}
.notice-r-bbs-content{
  width:100%;
  height:840px;
  background:#1acf99;
  
}
.qna{
  background:#e4eefb;
  height:100%;
}
.section-qna{
  height:100%;
}
.u-wrap, .d-wrap{
  background:#e4eefb;
}

.m-wrap{
  background:#2f4069;
}
.qna-u{
  padding-top:20px;
  padding-bottom:20px;
  width:1200px;
}
.qna-u-title{
  font-size:32px;
}
.qna-u-search{
  display:flex;
  width:640px;
  justify-content:center;
  margin-top:20px;
  margin-bottom:20px;
}
.qna-u-search-icon{
  font-size:40px;
  height:40px;
  width:40px;
  margin:0;
}
.qna-u-search-content{
  border:none;
  display:flex;
  margin:0 0 0 20px;
}
#qna-u-search-content-txt{
  border:none;
  background:#b6b5b5;
  margin-right:10px;
}
.qna-u-tag a{
  margin:0 10px;
}

.qna-m{
  padding-top:20px;
  padding-bottom:20px;
  width:1200px;
}
.qna-m ul{
  display:flex;
  margin-bottom:20px;
  height:80px;
  line-height:80px;
  width:960px;
}
.qna-m ul li{
  background:#e4eefb;
  width:160px;
}
.qna-m ul li:hover{
  background:#296ec6;
  color:#fff;
}
.qna-m-searched{
  width:160px;
  height:80px;
  line-height:80px;
  border:1px solid #000;
  margin:0 0 0 100px;
  background:#e4eefb;
}
.qna-m-line{
  width:95%;
  height:0.5px;
  background:#2f4069;
  margin-top:20px;
  margin-bottom:20px;
}
.question{
  height:100%;
  width:100%;
  border:1px solid #e4eefb;
  padding:10px 0;
  color:#e4eefb;
}
.qna-m-q1{
  display:flex;
  font-size:18px;
  margin:20px 30px;
  height:30px;
  line-height:30px;
  
}
.qna-m-q1 i{
  line-height:30px;
}
.qna-m-q1:hover{
  background: #e4eefb;
  color:#2f4069;
}

.qna-m-q1-q{
  display:flex;
  margin-left:20px;
  
}
.qna-m-q1-arrow{
  margin-right:20px;
}
.qna-m-q1-q p{
  margin-left:20px;
}
.qna-m-a1{
  margin:20px 40px;
  display:flex;
}
.qna-m-a1 p{
  text-align:left;
  margin:10px;
}
.qna-d{
  padding:20px 0;
  width:1200px;
  color:#2f4069;
  background:#e4eefb;
  
}
.qna-d-title{
  margin:20px 40px;
}
.qna-d-title p{
  text-align:left;
  font-size:24px;
  font-weight:600;
}
.qna-d-content{
  display:flex;
  justify-content:space-between;
  margin-left:3%;
  margin-right:3%;

}
.qna-d-content p{
  margin:10px 0;
}
.qna-d-content-l{
  margin-left:0;
  font-size:18px;
}
.qna-d-content-l-centername{
  font-weight:500;
}
.qna-d-content-l-centernumber{
  margin-left:40px;
  font-size:20px;
  font-weight:700;
}
.qna-d-content-r{
  margin-right:0;
  font-size:16px;
}
.qna-d-line{
  background:#3356b3;
  height:0.3px;
  margin:20px;
}
/*로그인*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin:0 auto;
  margin-top:20px;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #e4eefb, #296ec6);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #e4eefb, #296ec6);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}
/*new account*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  
  background: linear-gradient(135deg, #e4eefb, #4158d0);
  
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #e4eefb, #4158d0);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #262626;
}
 form .type-details .type-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin-top: 14px;
   margin-bottom: 14px;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #262626;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e4eefb, #4158d0);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #e4eefb, #4158d0);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
    
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.container{
  transform:translateY(30vh);
  
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.login{
  transform:translateY(10vh);
  
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/*학원소개 페이지*/
.tag-wrap{
  height:80px;
  border: 1px solid #ccc;
}
.section-acaintro > div{
  width:1200px;
}
.acaintro-tag{
  display:flex;
  font-size:24px;
  line-height:80px;
  font-weight:500;
}
.tphoto-wrap{
  height:240px;
  padding-top:20px;
}
.acaintro-tphoto{
  height:160px;
  display:flex;
}
.acaintro-tphoto > div{
  width:120px;
  height:120px;
  border-radius:50%;
  border:3px solid #ccc;
}
.acaintro-name{
  display:flex;
  height:80px;
}
.acaintro-name > div{
  width:100px;
  height:40px;
  font-size:14px;
  font-weight:600;
  line-height:40px;
}
.aca-wrap{
  height:400px;
  padding:20px;
}
.acaintro-main{
  display:flex;
}
.acaintro-main > div{
  width:320px;
}
.acaintro-main-l > div {
  height:40px;
  width:100%;
  display:flex;
  line-height:40px;
}
.acaintro-main-l > div > i{
  line-height:40px;
  margin-left:10px;
  margin-right:10px;
}
.acaintro-main-l > div > p{
  text-align:start;
  margin-left:10px;
}
.acaintro-main-l .acaintro-main-l-1{
  height:60px;
  margin-bottom:40px;
  font-size:18px;
  line-height:60px;
}
.acaintro-main-l-1-l{
  font-size:22px;
  letter-spacing:-1px;
  width:160px;
  font-weight:900;
  margin-left:0;
  text-shadow: -1px 0 #1ee3cf, 0 1px #1ee3cf, 1px 0 #1ee3cf, 0 -1px #1ee3cf;
  color:#fff;
}

.acaintro-main-l-1-r{
  width:120px;
  display:flex;
}
.acaintro-main-l-1-r i{
  line-height:60px;
}
.acaintro-main-l .acaintro-main-l-3{
  height:80px;
}
.acaintro-main-l .acaintro-main-l-3 i{
  line-height:80px;
}

.acaintro-main-l .acaintro-main-l-6{
  height:60px;
  line-height:60px;
}
.acaintro-main-l .acaintro-main-l-6 i{
  line-height:60px;
}
.acaintro-main-m pre{
  text-align:left;
  line-height:30px;
  padding-top:20px;
}
.acaintro-main-r{
  width:320px;
  height:400px;
}
.acaintro-main-r-d{
  
  display:flex;
}
.acaintro-main{
  border-top:3px solid #cdcdcd;
  border-bottom:3px solid #cdcdcd;
}
.acaintro-main-r-d-img{
  height:200px;
  width:160px;
  padding:20px;
  
}
.acaintro-main-r-d-img img{
  height:160px;
  width:120px;
}
.button-wrap{
  max-width:1200px;
  height:160px;
  display:flex;
  padding:40px;
}
.button-wrap > button{
  width:20%;
  color:#fff;
  background: #6b48ff;
  height:80px;
  border-radius:30px;
  font-size:20px;
  padding: 0 3%;
  font-weight:600;
  box-shadow: 1px 1px 1px 1px #a696c8;
}
.button-wrap > button:hover{
  color:#6b48ff;
  background:#f2f4f6;
}
.button-wrap > button > a{
  display:flex;
}
.button-wrap > button > a > i{
  font-size:30px;
}
.button-wrap > button > a .fa-heart{
  
  /*line-height:27px;*/
  color:#e42c64;
}

.review-wrap{
  height:100%;
  padding:20px;
  max-width:1200px;
}
.acaintro-review-wrap{
  
  border-radius:30px;
  box-shadow: 1px 1px 1px 1px #fff;
  height:320px;
  width:1160px;
}
.acaintro-review-u{
  height:80px;
  display:flex;
}
.acaintro-review-u > div{
  width:120px;
  height:60px;
  margin:10px auto;
  
  border-radius:20px;
  box-shadow: 2px 2px 2px 2px #0d3f67;
  line-height:60px;
}
.acaintro-review-u .acaintro-review-u-dummy{
  width:340px;
  border:none;
  box-shadow:none;
}
.acaintro-review-m{
  width:1160px;
  height:160px;
  border:1px solid #cdcdcd;
}
.acaintro-review-m pre{text-align:left; padding:5px 20px;}

.acaintro-review-d{
  height:80px;
  display:flex;
}
.acaintro-review-d button{
  margin-top:10px;
  margin-bottom:10px;
  width:20%;
  color:#fff;
  background: #6b48ff;
  height:60px;
  border-radius:30px;
  font-size:20px;
  padding: 0 3%;
  font-weight:600;
  box-shadow: 1px 1px 1px 1px #a696c8;
}
.acaintro-review-d > button > a .fa-heart{
  color:#e42c64;
}
.acaintro-review-d button a{
  display:flex;
  font-size:18px;
}
.acaintro-review-d button a i {
  margin-right:20px;
  line-height:60px;
}
.acaintro-review-d button a p {
  line-height:60px;
}
.acaintro-review-d button:hover{
  color:#6b48ff;
  background:#f2f4f6;
}