<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../resources/css/styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <section class="section-acaintro tag-wrap">
        <div class="acaintro-tag">
          <div class="acaintro-tag-1">#고3 전문</div>
          <div class="acaintro-tag-2">#수학 전문</div>
          <div class="acaintro-tag-3">#원장썜 경력 20년</div>
          <div class="acaintro-tag-4">#주말 보강 실시</div>
        </div>
      </section>

      <section class="section-acaintro aca-wrap">
        <div class="acaintro-main">
          <div class="acaintro-main-l">
            <div class="acaintro-main-l-1">
              <div class="acaintro-main-l-1-l"><p>대나무수학학원</p></div>
              <div class="acaintro-main-l-1-r"><i class="fas fa-star"></i><p>0.1/5.0</p></div>
            </div>
            <div class="acaintro-main-l-2"><i class="fas fa-phone"></i><p>053-756-7894</p></div>
            <div class="acaintro-main-l-3"><i class="fas fa-compass"></i><p>대구광역시 수성구 교학로 13<br>화성파크드림 303동 603호</p></div>
            <div class="acaintro-main-l-4"><i class="fas fa-clock"></i><p>평일 15:00~22:00 주말 10:00~22:00</p></div>
            <div class="acaintro-main-l-5"><i class="fas fa-book-open"></i><p>고등부 전문</p></div>
            <div class="acaintro-main-l-6"><i class="fas fa-money-check-alt"></i><p>(1달기준,만원) 초:30 중:35 고:40</p></div>
            
          </div>
          <div class="acaintro-main-m">
            <pre> *학원이 스스로 소개를 넣는곳*
 이렇구요
 저렇구요
 그렇습니다
 그런데요
 그렇기도하던데
 이건어떨까요
 늬예늬예
            </pre>
          </div>
          <div class="acaintro-main-r">
            <div class="acaintro-main-r-d">
              <div class="acaintro-main-r-d-img"><img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\couple-g7eb33077d_640.jpg" alt=""></div>
              <div class="acaintro-main-r-d-img"><img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\couple-g7eb33077d_640.jpg" alt=""></div>
            </div>
            <div class="acaintro-main-r-d">
              <div class="acaintro-main-r-d-img"><img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\couple-g7eb33077d_640.jpg" alt=""></div>
              <div class="acaintro-main-r-d-img"><img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\couple-g7eb33077d_640.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-acaintro button-wrap">
        <button><a href="#none"><i class="far fa-heart"></i><p>좋 아 요</p></a></button>
        <button><a href="#none"><i class="fas fa-pencil-alt"></i><p>리 뷰 쓰 기</p></a></button>
        <button><a href="#none"><i class="fas fa-calendar"></i><p>예 약 하 기</p></a></button>
      </section>
      <section class="section-acaintro tphoto-wrap">
        <div class="acaintro-tphoto">
          <div class="acaintro-tphoto-1"></div>
          <div class="acaintro-tphoto-2"></div>
          <div class="acaintro-tphoto-3"></div>
          <div class="acaintro-tphoto-4"></div>
          <div class="acaintro-tphoto-5"></div>
          <div class="acaintro-tphoto-6"></div>
          <div class="acaintro-tphoto-7"></div>
        </div>
        <div class="acaintro-name">
          <div class="acaintro-name-1">김인환 선생님</div>
          <div class="acaintro-name-2">이민기 선생님</div>
          <div class="acaintro-name-3">김인표 선생님</div>
          <div class="acaintro-name-4">신주영 선생님</div>
          <div class="acaintro-name-5">백동채 선생님</div>
          <div class="acaintro-name-6">김세현 선생님</div>
          <div class="acaintro-name-7">서영준 선생님</div>
        </div>
      </section>
      <section class="section-acaintro review-wrap">
        <div class="acaintro-review-wrap">
          <div class="acaintro-review-u">
            <div class="acaintro-review-u-id"><p>김○○ 어머니</p></div>
            <div class="acaintro-review-u-grade"><p>VIP 회원</p></div>
            <div class="acaintro-review-u-score"><p>4.8/5.0</p></div>
            <div class="acaintro-review-u-dummy"></div>
            <div class="acaintro-review-u-record"><p>3달 수강</p></div>
            <div class="acaintro-review-u-date"><p>2021.12.03</p></div>
          </div>
          <div class="acaintro-review-m">
            <div class="acaintro-review-m-txt">
              <pre> *학부모가 리뷰 쓴거*
이학원 어쩌구요
저쩌구요
저쨰요
그런대요
이렇데요
              </pre>
            </div>
          </div>
          <div class="acaintro-review-d">
            <button><a href="#none"><i class="far fa-heart"></i><p>좋 아 요</p></a></button>
            <button><a href="#none"><i class="fas fa-feather-alt"></i><p>댓 글 달 기</p></a></button>
            <button><a href="#none"><i class="fas fa-share-alt"></i><p>공 유 하 기</p></a></button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
