<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="C:\Users\HUSTAR02\Desktop\학원프로젝트\dist\css\styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header-wrap">
        <div class="header-upper">
          <img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\logo4.png" alt="">
        </div>
        
        <nav>
          <ul>
            <li>
              <a href="#none">YOGIEDU</a>
                <ul class="depth">
                  <li><a href="#none">서브메뉴1</a></li>
                  <li><a href="#none">서브메뉴2</a></li>
                  <li><a href="#none">서브메뉴3</a></li>
                </ul>
            </li>
            <li>
              <a href="#none">학원찾기</a>
                <ul class="depth">
                  <li><a href="#none">서브메뉴1</a></li>
                  <li><a href="#none">서브메뉴2</a></li>
                  <li><a href="#none">서브메뉴3</a></li>
                </ul>
            </li>							
            <li>
              <a href="#none">학원등록</a>
                <ul class="depth">
                  <li><a href="#none">서브메뉴1</a></li>
                  <li><a href="#none">서브메뉴2</a></li>
                  <li><a href="#none">서브메뉴3</a></li>
                </ul>
            </li>
            <li>
              <a href="#none">My page</a>
                <ul class="depth">
                  <li><a href="#none">서브메뉴1</a></li>
                  <li><a href="#none">서브메뉴2</a></li>
                  <li><a href="#none">서브메뉴3</a></li>
                </ul>
            </li>
            <div class="nav-dummy">

            </div>
            <div class="nav-button">
              <button type="submit" onclick="location.href='#';" class="nav-member">
                <a href="#none">회원가입</a>
              </button>
              <button type="button" onclick="location.href='#';" class="nav-login">
                <a href="#none">로그인</a>
              </button>
            </div>							
          </ul>
        </nav>
        
      </div>
    </header>  
  </body>
</html>