<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../resources/css/styles.css"/>
  </head>
  <body>
    <main class="main index">
      <section class="section main-section1">
        <div class="section-wrap section-wrap-main-1">
          <div class="main-section1-l">
            <p><strong>어느학원</strong>이 잘 가르칠까?</p>
            <p><strong>언제</strong> 보내야 하지?</p>
            <p>이 <strong>모든</strong>게 ……</p>
            <p>월 <strong>2000원</strong>?</p>

            <img class="main-section1-l-img" src="../resources/img/Tlogo2.png" alt="">
          </div>
          <div class="main-section1-r">
            <img src="../resources/img/이승기1-r.png" alt="" class="main-section1-r-img">
          </div>
        </div>
      </section>
      <section class="section main-section2">
        <div class="section-wrap">
          <div class="main-section2-title">
            <p>당신을 위한 요기에듀의 서비스</p>
          </div>
          <div class="main-section2-content">
            <div class="main-section2-content-wrap">
              <div class="main-section2-content-circle">
                <i class="fas fa-coins"></i>

              </div>
              <div class="main-section2-content-txt">
                <p>월 2천원밖에 안함</p>
              </div>
            </div>
            <div class="main-section2-content-wrap">
              <div class="main-section2-content-circle">
                <i class="fab fa-searchengin"></i>
              </div>
              <div class="main-section2-content-txt">
                <p>검색 짱편함</p>
              </div>
            </div>
            <div class="main-section2-content-wrap">
              <div class="main-section2-content-circle">
                <i class="far fa-eye"></i>
              </div>
              <div class="main-section2-content-txt">
                <p>후기볼수있음</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-section3">
        <div class="section-wrap">
          <div class="main-section3-title">
            <p>정책 관련된 제목</p>
          </div>
          <div class="main-section3-subtitle">
            <p>정책 관련된 부제</p>
          </div>
          <div class="main-section3-content">
            <div class="main-section3-content-l">

            </div>
            <div class="main-section3-content-m">

            </div>
            <div class="main-section3-content-r">
              <div class="main-section3-content-r-u">
                <div class="main-section3-content-r-icon"></div>
                  
                <div class="main-section3-content-r-txt"></div>
              </div>
              <div class="main-section3-content-r-line">

              </div>
              <div class="main-section3-content-r-d">
                <div class="main-section3-content-r-icon"></div>
                  
                <div class="main-section3-content-r-txt"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-section4">
        <div class="section-wrap">
          <div class="main-section4-title">
            <p>자주 묻는 질문</p>
          </div>
          <div class="main-section4-content-wrap">
            <div class="main-section4-content">
              
            </div>
            <div class="main-section4-content">
              
            </div>
            <div class="main-section4-content">
              
            </div>
            <div class="main-section4-content">
              
            </div>
          </div>
          
        </div>
      </section>
    </main>
  </body>
</html>