<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>YOGIEDU</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../resources/img/favicon.png" rel="icon">
  <link href="../resources/img/apple-touch-icon.png" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../resources/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../resources/css/font-awesome.min.css" rel="stylesheet">
  <link href="../resources/css/animate.min.css" rel="stylesheet">
  <link href="../resources/css/ionicons.min.css" rel="stylesheet">
  <link href="../resources/css/owl.carousel.min.css" rel="stylesheet">
  <link href="../resources/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../resources/css/style3.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="../resources/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  
  <section id="introLA" class="clearfix">
    <div class="container">
      <!--
      <table border=1>
        <tr>
            <td></td>
            <td>#</td>
            <td>강사</td>
            <td>학년</td>
            <td>시간</td>
            <td>정원</td>
            <td>현재 수강인원</td>
            <td>신청확인</td>
        </tr>
        <tr>
            <td><a href="#" class="toggler" data-prod-cat="1">+ </a></td>
            <td>1</td>
            <td>김인표</td>
            <td>고1</td>
            <td>월, 목 3~5시</td>
            <td>30</td>
            <td>25</td>
            <td></td>
        </tr>
        <tr class="cat1" style="display:none">
          <td><a href="#" class="pitcher" data-prod-cat="1" style="display:none;">=</a></td>
          <td>신청번호</td>
          <td>학생이름</td>
          <td>학년</td>
          <td>부모님요청사항</td>
          <td>신청시간</td>
          <td>수락</td>
          <td>거절</td>
        </tr>
        <tr class="cat1" style="display:none">
          <td><a href="#" class="hypen">-</a></td>
          <td>
              <p>전송완료</p>
          </td>
      </tr>
        <tr class="cat1" style="display:none">
            <td><a href="#" class="pitcher" data-prod-cat="1" style="display:none;">pitch </a></td>
            <td>1-a</td>
            <td>김인환</td>
            <td>고1</td>
            <td>우리애가 머리는 좋은데 공부를 안해요</td>
            <td>2021/12/03 15:30</td>
            <td><button><a href="#" class="pitcher" data-prod-cat="1">수락</a></button></td>
            <td><button>거절</button></td>
        </tr>
        <tr class="cat1" style="display:none">
            <td><a href="#" class="hypen">-</a></td>
            <td>
                <p>전송완료</p>
            </td>
        </tr>
        <tr class="cat1" style="display:none">
            <td><a href="#" class="pitcher" data-prod-cat="1" style="display:none;">pitch </a></td>
            <td>1-b</td>
            <td>백동채</td>
            <td>고1</td>
            <td>수업시간에 맨날 자요 혼내주세요</td>
            <td>2021/12/04 13:20</td>
            <td><button><a href="#" class="pitcher" data-prod-cat="1">수락</a></button></td>
            <td><button>거절</button></td>
        </tr>
        <tr class="cat1" style="display:none">
             <td ><a href="#" class="hypen">-</a></td>
            <td>
                <p>전송완료</p>
            </td>
        </tr>
    
         <tr>
            <td><a href="#" class="toggler" data-prod-cat="1">+ </a></td>
            <td>2</td>
            <td>신주영</td>
            <td>고3</td>
            <td>수, 토 1~3시</td>
            <td>20</td>
            <td>19</td>
            <td></td>
        </tr>
        <tr class="cat1" style="display:none">
            <td><a href="#" class="pitcher" data-prod-cat="1" style="display:none;">pitch </a></td>
            <td>2-a</td>
            <td>서영준</td>
            <td>고3</td>
            <td>애가 너무 올빼미에요</td>
            <td>2021/12/05 04:20</td>
            <td><button><a href="#" class="pitcher" data-prod-cat="1">수락</a></button></td>
            <td><button>거절</button></td>
        </tr>
        <tr class="cat1" style="display:none">
            <td><a href="#" class="hypen">-</a></td>
            <td>
                <p>전송완료</p>
            </td>
        </tr>
    
    
    
    
    
    </table>
    -->
    <div class="container">
  
      <button class="btn btn-primary" id="addbutton" title="Add"><span class="fa fa-plus-square"></span></button>
      <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">
    
      </table>
    
    </div>
    

    </div>
  </section>
  <!-- #intro -->


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>NewBiz</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../resources/js/jquery.min.js"></script>
  <script src="../resources/js/jquery-migrate.min.js"></script>
  <script src="../resources/js/bootstrap.bundle.min.js"></script>
  <script src="../resources/js/easing.min.js"></script>
  <script src="../resources/js/mobile-nav.js"></script>
  <script src="../resources/js/wow.min.js"></script>
  <script src="../resources/js/waypoints.min.js"></script>
  <script src="../resources/js/counterup.min.js"></script>
  <script src="../resources/js/owl.carousel.min.js"></script>
  <script src="../resources/js/isotope.pkgd.min.js"></script>
  <script src="../resources/js/lightbox.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.0.0.js" ></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.0.js" ></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" ></script>
  <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.js" ></script>
  <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
  <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.js" ></script>
  <script src="../resources/js/altEditor.js" ></script>
  <script src="../resources/js/boardEX.js" ></script>

  <!-- Contact Form JavaScript File -->
  <script src="../resources/js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../resources/js/main.js"></script>

  <script>
    $(document).ready(function(){
      $(".menu>a").click(function(){
        var submenu = $(this).next("ul");
        if(submenu.is(":visible")){
          submenu.slideUp();
        }else {
          submenu.slideDown();
        }
      });
    });
  </script>
  <script>
    $(document).ready(function(){
      $(".toggler").click(function(e){
          e.preventDefault();
          $(this).toggleClass("expand");
          var className = 'cat'+$(this).attr('data-prod-cat');
          var $current= $(this).closest('tr').next();
          while($current.hasClass(className)){
              if($(this).hasClass("expand")){
                 $current.show();
                 $current = $current.next().next();
              }
              else{
                 $current.hide();
                 $current = $current.next();
              }
  
          }
  
      });
          $(".pitcher").click(function(e){
          e.preventDefault();
          var className = 'cat'+$(this).attr('data-prod-cat');
              $(this).parent().parent().toggle();
          $(this).closest('tr').next().toggle();
          });
  
      $(".hypen").click(function(e){
  
          e.preventDefault();
  
              $(this).parent().parent().hide();
          $(this).parent().parent().prev().show();
          });
  
  });
  </script>
</body>
</html>

<!--http://code.jequery.com-->