<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../resources/css/styles.css"/>
  </head>
<body>
  <div class="container">
    <div class="title">너 내 동료가 되어라</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">아이디</span>
            <input type="text" placeholder="아이디를 입력해주세요" required>
          </div>
          <div class="input-box">
            <span class="details">별명</span>
            <input type="text" placeholder="ex)춤추는 라이언" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="ex)Lionsv9@gamil.com" required>
          </div>
          <div class="input-box">
            <span class="details">휴대전화번호</span>
            <input type="text" placeholder="010-000-0000" required>
          </div>
          <div class="input-box">
            <span class="details">비밀번호</span>
            <input type="password" placeholder="비밀번호를 입력해주세요" required>
          </div>
          <div class="input-box">
            <span class="details">비밀번호 확인</span>
            <input type="password-check" placeholder="비밀번호를 한번더 입력해주세요" required>
          </div>
        </div>
        <div class="type-details">
          <input type="radio" name="type" id="dot-1">
          <input type="radio" name="type" id="dot-2">
          <input type="radio" name="type" id="dot-3">
          <span class="type-title">당신은 어떤사람인가요?</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="type">학부모(학생)</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="type">학원원장(강사)</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="type">관리자</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
