<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="C:\Users\HUSTAR02\Desktop\학원프로젝트\dist\css\styles.css"/>
  </head>
  <body>
    <main>
      <section class="section page-introduce">
        <div class="section-wrap">
          <div class="page-introduce-u">
            <img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\intro_bg.png" alt="">  
          </div>
          <div class="page-introduce-m">
            <div class="page-introduce-m-title">
              <p>서비스 소개</p>
            </div>
            <div class="page-introduce-m-img">
              <img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\con_bar.png" alt="">
            </div>
            <div class="page-introduce-m-subtitle">
              <p>부제1 오는곳</p>
              <p>부제2 오는곳</p>
            </div>
            <div class="page-introduce-m-menu">
              <div class="page-introduce-m-menu-i">
                <div class="page-introduce-m-menu-i-l">

                </div>
                <div class="page-introduce-m-menu-i-r">
                  <div class="page-introduce-m-menu-i-r-title">

                  </div>
                  <div class="page-introduce-m-menu-i-r-line">

                  </div>
                  <div class="page-introduce-m-menu-i-r-content">

                  </div>
                </div>
              </div>
              <div class="page-introduce-m-menu-i">
                <div class="page-introduce-m-menu-i-l">

                </div>
                <div class="page-introduce-m-menu-i-r">
                  <div class="page-introduce-m-menu-i-r-title">

                  </div>
                  <div class="page-introduce-m-menu-i-r-line">

                  </div>
                  <div class="page-introduce-m-menu-i-r-content">

                  </div>
                </div>
              </div>
            </div>
            <div class="page-introduce-m-menu">
              <div class="page-introduce-m-menu-i">
                <div class="page-introduce-m-menu-i-l">

                </div>
                <div class="page-introduce-m-menu-i-r">
                  <div class="page-introduce-m-menu-i-r-title">

                  </div>
                  <div class="page-introduce-m-menu-i-r-line">

                  </div>
                  <div class="page-introduce-m-menu-i-r-content">

                  </div>
                </div>
              </div>
              <div class="page-introduce-m-menu-i">
                <div class="page-introduce-m-menu-i-l">

                </div>
                <div class="page-introduce-m-menu-i-r">
                  <div class="page-introduce-m-menu-i-r-title">

                  </div>
                  <div class="page-introduce-m-menu-i-r-line">

                  </div>
                  <div class="page-introduce-m-menu-i-r-content">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-introduce-d">
            <div class="page-introduce-d-title">
              <p>뭔진몰라도 제목들어올꺼임</p>
            </div>
            <div class="page-introduce-d-content">
              <div class="page-introduce-d-content-l">
                <div class="page-introduce-d-content-l-wrap">
                  <div class="page-introduce-d-content-l-wrap-icon">
                
                  </div>
                  <div class="page-introduce-d-content-l-wrap-content">
                    <div class="page-introduce-d-content-l-wrap-content-title">
                
                    </div>
                    <div class="page-introduce-d-content-l-wrap-content-content">
                
                    </div>
                  </div>
                </div>
                <div class="page-introduce-d-content-l-wrap">
                  <div class="page-introduce-d-content-l-wrap-icon">
                
                  </div>
                  <div class="page-introduce-d-content-l-wrap-content">
                    <div class="page-introduce-d-content-l-wrap-content-title">
                
                    </div>
                    <div class="page-introduce-d-content-l-wrap-content-content">
                
                    </div>
                  </div>
                </div>
                <div class="page-introduce-d-content-l-wrap">
                  <div class="page-introduce-d-content-l-wrap-icon">
                
                  </div>
                  <div class="page-introduce-d-content-l-wrap-content">
                    <div class="page-introduce-d-content-l-wrap-content-title">
                
                    </div>
                    <div class="page-introduce-d-content-l-wrap-content-content">
                
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-introduce-d-content-r">
                <img src="C:\Users\HUSTAR02\Desktop\학원프로젝트\page-introduce-d-content-r.jpeg" alt="">
              </div>
            </div>
          </div>
          <div class="asdf"></div>
        </div>
      </section>
    </main>
  </body>
</html>