<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=10, user-scalable=yes">
		<title>Project</title>
    <script src="https://kit.fontawesome.com/b5a3e3ae7e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="C:\Users\HUSTAR02\Desktop\학원프로젝트\dist\css\styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <section class="section-qna u-wrap">
        
          <div class="qna-u">
            <div class="qna-u-title">
              <p>무엇을 도와드릴까요?</p>
            </div>
            <div class="qna-u-search">
              <div class="qna-u-search-icon">
                <i class="fas fa-search"></i>
              </div>
              <div class="qna-u-search-content">
                <input type="text" id="qna-u-search-content-txt"><input type="submit" id="qna-u-search-content-submit" value="찾기">
              </div>
            </div>
            <div class="qna-u-tag">
              <a href="#none"># 수수료</a><a href="#none"># 수강취소</a><a href="#none"># 각종오류</a><a href="#none"># 아님말고</a><a href="#none"># 나도몰라</a>
            </div>
          </div>
        </section>
        <section class="section-qna m-wrap">

          <div class="qna-m">
            <ul>
              <li><a href="#none">학부모님</a></li>
              <li><a href="#none">학생</a></li>
              <li><a href="#none">학원장님</a></li>
              <li><a href="#none">강사님</a></li>
              <li><a href="#none">배너광고</a></li>
              <li><a href="#none">기타</a></li>
            </ul>

            <div class="qna-m-searched"></div>
            <div class="qna-m-line"></div>
            <div class="question">
              <div class="qna-m-q1">
                <div class="qna-m-q1-q">
                  <i class="fab fa-quora"></i><p>질문1</p>
                </div>
                <div class="qna-m-q1-arrow">
                  <a href="#none"><i class="fas fa-chevron-down"></i></a>
                </div>
              </div>
              <div class="qna-m-a1">
                <p>A.</p>
                <p>대답1대답1대답1</p>
              </div>
            </div>

            <div class="question">
              <div class="qna-m-q1">
                <div class="qna-m-q1-q">
                  <i class="fab fa-quora"></i><p>질문2</p>
                </div>
                <div class="qna-m-q1-arrow">
                  <a href="#none"><i class="fas fa-chevron-down"></i></a>
                </div>
              </div>
              <div class="qna-m-a1">
                <p>A.</p>
                <p>대답2대답2대답2</p>
              </div>
            </div>

            <div class="question">
              <div class="qna-m-q1">
                <div class="qna-m-q1-q">
                  <i class="fab fa-quora"></i><p>질문3</p>
                </div>
                <div class="qna-m-q1-arrow">
                  <a href="#none"><i class="fas fa-chevron-down"></i></a>
                </div>
              </div>
              <div class="qna-m-a1">
                <p>A.</p>
                <p>대답3대답3대답3</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section-qna d-wrap">
        
          <div class="qna-d">
            <div class="qna-d-title">
              <p>상 담 안 내</p>
            </div>
            <div class="qna-d-line"></div>
            <div class="qna-d-content">
              <div class="qna-d-content-l">
                <div class="qna-d-content-l-centername">
                  <p>일반 고객센터</p>
                </div>
                <div class="qna-d-content-l-centernumber">
                  <p>1544-7979</p>
                </div>
              </div>
              <div class="qna-d-content-r">
                <p>어떤거는 문의를 :<br> 오전9시 ~ 오후 6시</p>
                <p>어떤거는 문의를 :<br> 오전10시~ 오후 5시</p>
              </div>
            </div>
            <div class="qna-d-line"></div>
            <div class="qna-d-content">
              <div class="qna-d-content-l">
                <div class="qna-d-content-l-centername">
                  <p>노인 고객센터</p>
                </div>
                <div class="qna-d-content-l-centernumber">
                  <p>1544-0000</p>
                </div>
              </div>
              <div class="qna-d-content-r">
                <p>어떤거는 문의를 :<br> 오전9시 ~ 오후 6시</p>
                <p>어떤거는 문의를 :<br> 오전10시~ 오후 5시</p>
              </div>
            </div>
          </div>
        
      </section>
    </main>
  </body>
</html>
