<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../resources/css/table.css">
  
</head>
<body>
  <div class="navbar navbar-default visible-xs">
    <div class="container-fluid">
      <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
        <i class="fa fa-tasks"></i> Toggle Sidebar
      </button>
    </div>
  </div>
  
  <div class="container-fluid">
  
    <div class="row">
  
      <!-- filter sidebar -->
      <div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">
  
        <div>
          <h4 data-toggle="collapse" data-target="#group-1">
            <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
            Artist
          </h4>
          <div id="group-1" class="list-group collapse in">
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
          </div>
        </div>
        
        <div>
          <h4 data-toggle="collapse" data-target="#group-2">
            <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
            Artist
          </h4>
          <div id="group-2" class="list-group collapse in">
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
          </div>
        </div>
        
        <div>
          <h4 data-toggle="collapse" data-target="#group-3">
            <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
            Artist
          </h4>
          <div id="group-3" class="list-group collapse in">
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
          </div>
        </div>
        
        <div>
          <h4 data-toggle="collapse" data-target="#group-4">
            <i class="fa fa-fw fa-caret-down parent-expanded"></i>
            <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
            Artist
          </h4>
          <div id="group-4" class="list-group collapse in">
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
            <a class="list-group-item" href="#">
              <span class="badge">3</span> John Lennon
            </a>
          </div>
        </div>
        
      </div>
  
      <!-- table container -->
      <div class="col-sm-9">
  
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
              <th class="align-right">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="valign-middle" data-label="Cord&oacute;n">
                <a href="#">See You Again</a>
              </td>
              <td class="valign-middle" data-label="Artist">
                Wiz Khalifa
              </td>
              <td class="valign-middle align-right" data-label="Price">
                $1.99
              </td>
              <td class="valign-middle align-right">
                <a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
                  <i class="fa fa-cart-plus"></i>
                  <span class="visible-xs">Add to Cart</span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="valign-middle" data-label="Title">
                <a href="#">See You Again</a>
              </td>
              <td class="valign-middle" data-label="Artist">
                Wiz Khalifa
              </td>
              <td class="valign-middle align-right" data-label="Price">
                $1.99
              </td>
              <td class="valign-middle align-right">
                <a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
                  <i class="fa fa-cart-plus"></i>
                  <span class="visible-xs">Add to Cart</span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="valign-middle" data-label="Title">
                <a href="#">See You Again</a>
              </td>
              <td class="valign-middle" data-label="Artist">
                Wiz Khalifa
              </td>
              <td class="valign-middle align-right" data-label="Price">
                $1.99
              </td>
              <td class="valign-middle align-right">
                <a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
                  <i class="fa fa-cart-plus"></i>
                  <span class="visible-xs">Add to Cart</span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="valign-middle" data-label="Title">
                <a href="#">See You Again</a>
              </td>
              <td class="valign-middle" data-label="Artist">
                Wiz Khalifa
              </td>
              <td class="valign-middle align-right" data-label="Price">
                $1.99
              </td>
              <td class="valign-middle align-right">
                <a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
                  <i class="fa fa-cart-plus"></i>
                  <span class="visible-xs">Add to Cart</span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="valign-middle" data-label="Title">
                <a href="#">See You Again</a>
              </td>
              <td class="valign-middle" data-label="Artist">
                Wiz Khalifa
              </td>
              <td class="valign-middle align-right" data-label="Price">
                $1.99
              </td>
              <td class="valign-middle align-right">
                <a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
                  <i class="fa fa-cart-plus"></i>
                  <span class="visible-xs">Add to Cart</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
  
    </div>
  </div>
</body>
<script>
  if (!isTouchDevice()) {
    $('[data-toggle*="tooltip"]').tooltip();
  }
  
  // utility
  
  function isTouchDevice() {
    return !!('ontouchstart' in window || navigator.msMaxTouchPoints);
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>